.welcome_page {
    color: blanchedalmond;
    font-size: 30px;
    padding: 9px;
    text-align: center;
    color: green;
    background: whitesmoke;
}
.create_resort {
    background: aliceblue;
    width: 407px;
    height: 408px;
    border-radius: 4px;
    margin: 0 auto;
    padding: 23px;
    margin-top: 83px;
}
form input {
    margin: 0, auto;
    font-size: 28px;
    margin-top: 4px;
    margin-bottom: 11px;
    /* margin-left: 54px; */
}
input.save {
    cursor: pointer;
    margin-left: 237px;
    width: 111px;
    padding: 3px;
}
input.save :hover{
    cursor: pointer;
    margin-left: 237px;
    width: 111px;
    padding: 3px;
    background: aliceblue;
}